<h1>edit log</h1>
<form action='/logs/<%= @log.id %>' method='post'>

    <input type="hidden" name="_method" value="patch" />  

    <p>
        <label for="title">title</label>
        <input type="text" name="log[title]" id="title" value="<%= @log.title %>" />
    </p>

    <p>
        <label for="description">description</label>
        <input type="text" name="log[description]" id="description" value="<%= @log.description %>" />
    </p>

    <p>
        <label for="link">link</label>
        <input type="text" name="log[link]" id="link" value="<%= @log.link %>" />
    </p>

    <p>
        <label for="date">date</label>
        <input type="date" name="log[date]" id="date" value="<%= @log.date %>" />
    </p>

    <input type="submit" value="Edit" />

</form>

<form class="" action="/logs/<%= @log.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="delete">
</form>

