<h1 class="log_info"> <%= @log.title %> </h1>

<p class="log_info"> <%= @log.description %></p>

<p class="log_info"> <%= @log.link %> </p>

<p class="log_info"> <%= @log.date %> </p>

<a href="/logs/<%= @log.id %>/edit" class="log_info">edit</a>




